<script setup lang="ts"></script>

<template>
  <div class="border rounded shadow p-6">
    <div class="flex justify-between items-center">
      <h2>标题</h2>
      <div>副标题</div>
    </div>
    <section class="min-h-[4rem]">内容</section>
  </div>
</template>

<style scoped></style>
