<script setup lang="ts"></script>

<template>
  <div class="flex flex-col">
    <div class="flex justify-start items-center space-x-4">
      <div class="rounded-full overflow-hidden border">
        <div class="w-16 h-16 bg-gray-500"></div>
      </div>
      <div class="w-6">
        <div class="bg-gray-500"></div>
        <div class="bg-gray-500"></div>
      </div>
    </div>

    <div class="my-3 border-t py-3 bg-gray-500 h-16"></div>
  </div>
</template>

<style scoped></style>
